---
import Imagen from "@components/layout/Imagen.astro";
import Layout from "@layouts/Layout.astro";
import Perfil from "@assets/profile.webp";
---

<Layout
  title="Leo About"
  seoTitle="Acerca de mí"
  seoDesc="Hi there! My name is Leonel, and i am a software engineer"
>
  <div class="w-10/12 lg:w-8/12 mx-auto pb-8">
    <div class="justify-center items-center flex">
      <Imagen
        img={Perfil}
        alt="Image about myself"
        ImgClass=" rounded-lg my-2 shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)] lg:w-1/2  "
      />
    </div>
    <div class="py-2 text-center">
      <a href="mailto:leonel0614@gmail.com" target="_blank"
        ><span class="underline-offset-4 underline">leonel0614@gmail.com</span
        ></a
      >
    </div>

    <div class="py-6 text-justify">
      <p class="py-2">
        ¡Hola! Soy un entusiasta Desarrollador Front-End Jr. con una pasión
        ardiente por la programación y la tecnología. Mi viaje comenzó en el
        mundo digital mientras exploraba el fascinante universo de la
        programación web. Con una afinidad especial por JavaScript y su
        ecosistema, he sumergido mis manos en una variedad de frameworks y
        tecnologías, desde los populares como React y Angular hasta los
        emergentes como Astro y Flutter.
      </p>
      <p class="py-2">
        Me encanta el arte de dar vida a las interfaces a través de la
        estilización, y mi herramienta preferida para ello es Tailwind, que me
        permite crear experiencias visuales cautivadoras y eficientes. Mi
        curiosidad insaciable me lleva a experimentar con diversas tecnologías y
        frameworks web, ampliando constantemente mis horizontes.
      </p>
      <p class="py-2">
        Mi viaje educativo ha tenido giros emocionantes. A pesar de los
        desafíos, perseveré y regresé a la escuela para culminar mis estudios en
        Ingeniería de Software en la Facultad de Telemática de la Universidad de
        Colima. Durante este tiempo, tuve el honor de completar mis Prácticas
        Profesionales en el Centro Siabuc, lo que me brindó una valiosa
        experiencia en un entorno real.
      </p>
      <p>
        Aunque el camino puede haber sido largo, mi determinación y amor por la
        programación me impulsan a seguir creciendo y aprendiendo cada día.
        Estoy emocionado por las oportunidades que el futuro tiene reservadas y
        cómo puedo aportar al emocionante mundo de la tecnología. Con una mente
        abierta y creatividad ilimitada, aspiro a marcar una diferencia y
        contribuir a soluciones innovadoras en el campo del desarrollo web.
      </p>
      <p>
        <span
          >Gracias por visitar mi portafolio y por ser parte de mi emocionante
          viaje. ¡Estoy ansioso por lo que el futuro tiene preparado!</span
        >
      </p>
    </div>
  </div>
</Layout>
