---
import TypedText from "@components/layout/TypedText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Leonel A. Elizarraraz Portfolio Site"
  seoTitle="Leo Portfolio"
  seoDesc="Software Engineer Front End"
>
  <div
    class="w-10/12 lg:w-6/12 mx-auto animate-fade-up animate-once animate-ease-in py-56 h-screen"
  >
    <h1
      class="text-6xl md:text-5xl text-center drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
      Hola 👋, Soy Leonel Arroyo Elizarraraz
    </h1>

    <TypedText />
  </div>
</Layout>
