---
import Layout from "@layouts/Layout.astro";
import Projectos from "@components/layout/Projectos.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout
  title="Leo's Projects"
  seoTitle="Leo Proyectos"
  seoDesc="I work with, React, Astro, Tailwind and another Js/React type Frameworks"
>
  <div class="w-10/12 mx-auto transition-all">
    <h1 class="text-5xl my-2 pb-8 p-8">Projects</h1>
    <div class="p-10">
      <Projectos projects={projects} />
    </div>
  </div>
</Layout>
