---
import Layout from "@layouts/Layout.astro";
import Projectos from "@components/layout/Projectos.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout
  title="Leo's Projects"
  seoTitle="Leo Proyectos"
  seoDesc="I work with, Astro, react, tailwind and another Js Frameworks"
>
  <div class="w-10/12 lg:w-8/12 mx-auto transition-all">
    <h1 class="text-5xl my-2 pb-8">Proyectos</h1>
    <Projectos projects={projects} />
  </div>
</Layout>
