---

---

<div class="lg:col-span-2 flex flex-col gap-12">
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">About</h2>
    <p class="mt-4 text-lg text-slate-400 prose">
      ¡Hola! Soy <span class="text-blue-500">Leonel</span>, un apasionado
      desarrollador web dedicado a convertir visiones digitales en realidad. Mi
      amor por la programación y el diseño me permite crear experiencias web
      cautivadoras que destacan tanto en estética, optimización y funcionalidad.
    </p>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      Experiencia
    </h2>
    <div class="flex flex-col gap-8">
      <div>
        <p class="mt-4 text-xl font-medium text-blue-500">
          Centro SIABUC (Practicas) - <span class="text-slate-400"
            >Web Developer
          </span>
          <span class="text-slate-400 block text-sm"
            >Enero 2023 - junio 2023</span
          >
        </p>
        <p class="mt-4 font-medium text-slate-400 text-lg prose">
          El centro SIABUC está encargado de las bibliotecas de la universidad
          de Colima y durante mie stadia como prácticamente desarrollé un
          sistema en react. El cuál se encargaba de enlistar los libros de
          diferentes bibliotecas de las Universidad de Colima y ver si el orden
          que tienen estos es correcto o no. El sistema.se basaba en el orden de
          libro LC, el sistema generaba la lista correcta, ordenando los libros,
          podías además hacer búsquedas a uno o varios elementos. Todo esto fue
          hecho remoto, pues xdeapueande la pandemia hay mucha flexibilidad.
        </p>
      </div>

      <div>
        <p class="mt-4 text-xl font-medium text-blue-500">
          Cositec - <span class="text-slate-500">
            Jovenes construyendo el futuro</span
          >
          <span class="text-slate-400 block text-sm"
            >Septiembre 2021 - Enero 2022
          </span>
        </p>
        <p class="mt-4 text-slate-400 text-lg prose font-medium">
          Estuve unos meses en el programa 'Jóvenes Construyendo el Futuro' en
          la empresa Cositec en Colima. Durante mi estadía aquí, aprendí Flutter
          y desarrollé varias aplicaciones móviles en esta plataforma, además de
          realizar pruebas de testing. Inmediatamente después de esta
          experiencia, revalidé mis clases y finalicé mi carrera.
        </p>
      </div>
    </div>
  </div>
</div>
