---

---

<div class="lg:col-span-2 flex flex-col gap-12">
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">About me</h2>
    <p class="mt-4 text-lg text-slate-400 prose">
      Front-End Developer with two years of experience, specialized in React,
      React Native, and JavaScript environment. Passionate about developing
      innovative solutions and continuously improving user experience.
    </p>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      EMPLOYMENT HISTORY
    </h2>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Front end Developer - <span class="text-slate-500">
          Implemental Systems</span
        >
        <span class="text-slate-400 block text-sm"
          >Sep 2023 — Feb 2024 (6 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        A section was developed for Implemental Systems, created using Qwik and
        React. TypeScript, Tailwind CSS, Vercel Analytics, and Cloudinary for
        hosting videos were utilized. This section of the website is
        multilingual, available in Spanish, English, and French, thanks to i18n.
        Access to this page is available through the <a
          href="https://is-products.vercel.app/es/solutions/geobint/"
          class="text-blue-500"
          target="_blank">following link</a
        >.
      </p>
    </div>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Mobile Developer - <span class="text-slate-500">
          Universidad de Colima</span
        >
        <span class="text-slate-400 block text-sm"
          >Sep 2022 — Aug 2023 (12 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        I spearheaded the creation of a React Native application for the
        University of Colima's library, employing Redux, Git, CSS, TypeScript,
        and React Native Paper as fundamental tools. This project enhanced the
        library's digital services, offering an intuitive and efficient user
        interface for accessing resources.
      </p>
    </div>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Intern - <span class="text-slate-500"> COSITEC</span>
        <span class="text-slate-400 block text-sm"
          >Feb 2022 — Jul 2022 (6 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        As an intern, I initially took courses in database management, MySQL,
        and testing on the Carlos Slim platform, followed by a comprehensive
        Flutter course on Udemy to broaden my skills.
      </p>
    </div>
  </div>
</div>
