---
---

<footer class="text-center mt-auto py-4 sticky top-full">
    <small>
      Copyright &copy; <span id="copyright">| All rights reserved</span></small
    >
  </footer>
  
  <script>
    document.querySelector("#copyright").textContent = new Date()
      .getFullYear()
      .toString();
  </script>
  