---
import { Image } from "astro:assets";
import profile from "@assets/me.jpg";
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title } = i18n.About;
---

<section>
  <div
    class="max-w-5xl 2xl:max-w-7xl mx-auto px-8 md:px-lg:px-24 py-24 lg:pt-16"
  >
    <div class="flex items-center">
      <div>
        <Image
          class="inline-block h-48 lg:w-64 lg:h-96 w-24 object-cover rounded-full"
          src={profile}
          alt="profile pic"
          quality={"mid"}
          loading={"lazy"}
          format="avif"
        />
      </div>
      <div class="ml-4 md:ml-36">
        <p
          class="font-semibold tracking-tighter text-4xl md:text-6xl lg:text-7xl text-slate-300"
        >
          Leonel Elizarraráz
          <span class="text-slate-500 block">{title}</span>
        </p>
        <div class="flex space-x-6 mt-12 text-slate-500 uppercase text-xs">
          <a
            href="https://github.com/Leo0114"
            target="_blank"
            class="duration-200 hover:text-slate-300 text-slate-400 text-sm"
          >
            GitHub</a
          >
          <a
            href="https://github.com/LeoAoEl"
            target="_blank"
            class="duration-200 hover:text-slate-300 text-slate-400 text-sm"
          >
            GitHub 2</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
