---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Github from "@components/layout/Github.astro";
import NavLink from "./NavLink.astro";
import SwitchLanguague from "./SwitchLanguague.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div>
  <div class="max-w-[1300px] mx-auto">
    <header
      class="flex flex-col lg:flex-row justify-between items-center gap-5 p-5"
    >
      <Astronav transition:persist transition:name="navigation">
        <div
          class="flex w-full lg:w-auto items-center justify-between lg:justify-between"
        >
          <a
            href={translatePath("/")}
            class="text-2xl flex items-center"
            aria-label="Leo home portfolio site"
            role="link"
          >
            <span>Leo</span>
          </a>

          <div class="block lg:hidden px-4">
            <MenuIcon class="w-4 h-4" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row items-center">
            <NavLink title={t("nav.index")} path={translatePath("/")} />
            <NavLink
              title={t("nav.projects")}
              path={translatePath("/projects/")}
            />
            <NavLink title={t("nav.about")} path={translatePath("/about/")} />
            <SwitchLanguague />
          </ul>

          <Github />
        </MenuItems>
      </Astronav>
    </header>
  </div>
</div>
