---
import Return from "@components/layout/Return.astro";
import Layout from "@layouts/Layout.astro";
import ProjectPost from "@components/ProjectPost.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const posts = await getCollection("projects");
  const paths = posts.map((post) => ({
    params: {
      project: { slug: post.slug },
      props: { post },
    },
  }));
  return paths;
};
type Props = { post: CollectionEntry<"projects"> };
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <Return />
  <ProjectPost {...post.data} />
  <div class="prose prose-2xl mb-8 leading-relaxed text-lg text-justify">
    <Content />
  </div>|
</Layout>
