---
import Navbar from "@components/Navbar.astro";
import MainHead from "./MainHead.astro";
import Footer from "@components/Footer";
import { fade } from "astro:transitions";

const { title, seoDesc, seoTitle } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body
    class="bg-slate-900 text-slate-50 overflow-y-scroll"
    transition:animate={fade({ duration: "0.4s" })}
  >
    <Navbar />
    <div>
      <slot />
    </div>
    <Footer client:load />
  </body>
</html>
