---
import Navbar from "@components/Navbar.astro";
import MainHead from "./MainHead.astro";
import Footer from "@components/Footer.astro";
const { title, seoDesc, seoTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body
    class="bg-slate-900 text-slate-50 overflow-y-scroll"
    transition:animate="none"
  >
    <Navbar />
    <div transition:animate="none">
      <slot />
    </div>
    <Footer />
  </body>
</html>
